@charset "UTF-8";

 section{
            border: 1px solid tomato;
            
            margin-left: 50px;
            margin-right: 50px;
            /* padding-left: 100px;
            padding-right: 100px; */
            /* 
                만약 섹션 안에 div를 만든다면 여기 padding-left,padding-right에서
                좌우 간격을 조정하세요
                왼쪽 오른쪽도 웬만하면 다같이 맞추면 좋을 듯 하니 각자 만들어보고 의견주세요
             */
            margin-top: 100px;
            /* height: 900px;  */
            /*
                ->내가 사용하는 중간 섹션부분의 크기를 조절하려면 이 height를 조정하세요★★
                높낮이 조절해도 footer침범하지 않도록 설정해놨으니 마음껏 늘려도 됩니다.
            */
            
        }
        section>div{
            border: 1px solid blue;
            /* 섹션 안의 div테두리 */
            
        }

        .sector{
                display: flex;
                /* border: 1px solid green; */
        }
        .sector>*{
            border: 1px solid;
        }

        #all{
            width: 85%;  
            margin: 0 auto;
            /* border: 1px solid; */
        }

        .sidemenu{
            width: 200px;
            height: 50px;
            /* padding: 50px; */
            /* margin-top: 1000px; */
            /* margin: 0 auto; */
            /* border: 1px solid; */
            font-size: 18px;
            font-weight: bold;
            position: fixed;
        }
        .menuDiv{
            width: 15%;
        }

        .sidemenu>*:hover{
            transform: scale(1.1);
            transition-property: transform;
            transition-duration: 1s;
        }
        .sidemenu>*{
            background-color: lavender;
            border-radius: 50px;
            box-shadow: 5px 2px 8px lavender;
        }
        .sidemenu p{
            text-align: center;
            padding: 13px;
        }
        .sidemenu>div:nth-child(3){
            color: purple;
        }

        #title{
            /* width: 300px; */
            text-align: center;
        }
        #title>h2{
            font-size: 30px;
            font-style: italic;
            /* font-family: 'THE_Christmas.ttf'; */
            /* background-color: deepskyblue; */
        }
        .fade-in{
            animation: fadeIn 3s ;
        }
        @keyframes fadeIn {
            0%{
                opacity: 0;
            }
            100%{
                opacity: 1;
            }
        }
        .modu{
            display: flex;
            justify-content: center;
        }
        .modu>div:last-child{
            overflow: hidden;
        }
        .pro{
            /* width: 120px; */
            height: 160px;
            border: 1px solid black;
            border-radius: 20px;
            margin-bottom: 50px;
            /* margin-left: 50px; */
            margin-right: 50px;
            box-shadow: 0px 3px 0px gray;
        }
        .pro:hover, .pro2:hover{
            transform: scale(1.1);
            transition-property: transform;
            transition-duration: 1s;
        }
        .dis{
            width: 600px;
            height: 160px;
            border: 1px solid black;
            /* background-color: gainsboro; */
            /* background-color: mistyrose; */
            background-color: lavender;
            /* background-color: lavenderblush; */
            margin-bottom: 50px;
            animation: 2s slide-right;
            border-radius: 10px;
            box-shadow: 0px 3px 0px gray;
        }
        @keyframes slide-right{
            from{
                margin-left: -100%;
            }
            to{
                margin-left: 0%;
            }
        }
        .modu2{
            display: flex;
            justify-content: center;
        }
        .modu2>div:first-child{
            overflow: hidden;
        }
        .pro2{
            /* width: 120px; */
            height: 160px;
            border: 1px solid black;
            border-radius: 20px;
            margin-bottom: 50px;
            margin-left: 50px;
            /* margin-right: 50px; */
            /* justify-content: right; */
            justify-items: right;
            box-shadow: 0px 3px 0px gray;
        }
        .dis2{
            width: 600px;
            height: 160px;
            border: 1px solid black;
            background-color: lavender;
            margin-bottom: 50px;
            justify-content: right;
            animation: 2s slide-left;
            border-radius: 10px;
            box-shadow: 0px 3px 0px gray;
        }
        @keyframes slide-left{
            from{
                margin-left: 100%;
            }
            to{
                margin-left: 0%;
            }
        }
        .dis>*{
            margin-left: 20px;
        }
        .dis2>*{
            margin-right: 20px;
            text-align: right;
        }