@charset "UTF-8";
.notice{
	font-family: "Hahmlet";
}
/* 전체 글씨체 설정 */
body{
    font-family: "Hahmlet";
}
 /* 배너설정 */
.txt-label{
   /* 배너 안의 글자 */
    display: inline;
    padding: 8px;
}
#banner {
    /* 배너 전체 div 위치,크기 조정 */
    position: absolute;
    width: 250px;
    top: 300px;
    left: 85%;
    z-index: 10;
      font-family: "Hahmlet";
}
#banner div{
    /* 배너 개별 설정 */
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
      font-family: "Hahmlet";
}
#banner a{
	 list-style-type: none;
	 text-decoration: none;
	 color: black;
	 cursor: pointer;
	   font-family: "Hahmlet";
}
#banner h5{
    font-size: 17px;
}
.showme{
    /* font-family: "THE크리스마스";
font-size: 40px; */
    text-align: center;
    margin: 5px;
    position: relative;
    top: 10px;
    left: 13px;
}
.logo{
    margin-top: 30px;
    margin-bottom: 30px;
}
.bar{
    justify-content: space-between;
    align-items: center;
}
.icon{
    display: flex;
    justify-content: space-around;
}
.menuli{
    position: relative;
}
.menu{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-family: "Hahmlet";
    padding-right: 20px;
}
.menuTotal{
    margin-bottom: 10px;
    height: 140px;
}
.hoversection{
    margin-top: 100px;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
}
a{
    text-decoration: none;
    list-style-type: none;
}
/* 메인메뉴 글자 */
.menu a{ 
    text-decoration: none;
    font-size: 25px;
    color: black;
    text-shadow: 2px 2px 3px rgb(190, 182, 182);
}
/* 메인메뉴 배치 */
.menu li{
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* 서부메뉴 div */
.sub{
    position: absolute;
    margin-top: 300px;
    display: flex;
    flex-direction: row;
}
/* 서브메뉴 배치 */
.submenu >li{
    display: flex;
    padding-right: 30px;
    justify-content: center;
    align-items: center;
}
/* 서브메뉴 글자 스타일 */
.submenu>li>a{
   font-size: 20px;
   color: black;
   text-shadow: 1px 1px 5px #d3bded;
}
/* //#ed6954 */
/* 서브메뉴 감추기 */
   .submenu{
       display: flex;
       flex-direction: column;
       width: 100%;
 display:none;
}
   /* 마우스 올리면 서브메뉴 보이기 */
.menuTotal:hover .submenu{
    display: block;
}
h3{
    font-size: 50px;
    font-family: "Hahmlet";
    display: none;
    /* opacity: 0; */
}
/* 카카오톡  공유하기 아이콘 우측 배치 */
a#kakaotalk-sharing-btn{
    position: absolute;
    top: 20.5px;
    left: 55px;

} 

/* 카카오톡  공유하기 아이콘 사이즈 조절 */
a#kakaotalk-sharing-btn>img{
    /* margin-top:8px; */
    width: 35px;
    height:35px;
}

/* 인스타그램 링크 로고 아이콘 사이즈 조절 */
a#instarLogoAddress>img{
    width: 45px;
    height:45px;
}

/*인스타그램 링크 로고 아이콘 우측 배치  */
a#instarLogoAddress{
    position: absolute;
    top: 15px;
    left: 10px;
}

section#reviewWrap{
        display:flex;
        justify-content: center;
        height:600px;
    }
    #reviewContainer{
        width:69%;
        height:600px;
        background: linear-gradient(to bottom, white 60%, #72547a 40%);
        border: 3px solid #72547a;
        border-radius: 20px;
    }
    #reviewTextContainer{
        margin-top:30px;
        margin-left:60px;
        margin-bottom:90px;
        font-size:35px;
        font-weight:bolder;
    }
    #reviewImageContainer{
        display:flex;
        justify-content: space-around;
        margin-left:50px;
        margin-right:50px;
    }
    .profileImageContainer{
        display:flex;
        justify-content: center;
    }
    /* 하단 로고 스타일 */
#mainlogo{
     padding-bottom: 100px; 
     justify-content: center;
    display: flex;
     /* margin-left: 30px; */
/* footer와  section>div.container 사이의 간격 */
}
/* 공지사항/자료실 스타일 */
.container2{
    /* 공지사항/자료실 전체 감싸고 있는 div */
justify-content: center;
display: flex;
margin-top: 40px;
margin-bottom: 40px;
/* padding-bottom: 400px;  */
/* footer와  section>div.container 사이의 간격 */
}
.notice{
    /* 공지사항/자료실 div */
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    box-shadow: 2px 2px 5px gray;
    height: 200px;
    width: 560px;
    margin-left: 2px;
    margin-right: 15px;
}
.notice li{
    margin-bottom: 10px;/* 리스트 줄간격 */
}
.notice a{
    /* a태그 밑줄 삭제, 글자색변경 */
    text-decoration: none;
    color: black;
}

span#footmain{
    font-size: 20px;
    border: 2px;
    color: black;
    text-shadow: 2px 2px 2px lightblue;
}
span#foot{
    font-size: 15px;
    color: rgb(104, 103, 103);
}
#wrap {
/* 구조 변경 구문  min-height 100vh를 100%로 변경했음 */
 min-height: 20%; 
position: relative;
width: 100%;
}
footer :hover{
    cursor: pointer;
}

footer {
/* 구조수정 추가구문 */
width: 100%;
height: 99999px; /* footer의 높이 */
position: absolute;  
bottom: 0;
left: 0;
/*  */


/* width: 100%; */
height: 100px;

/* bottom: 70px; */
left: 60px;
right: 60px;
position: absolute;
border-top: 1px solid rgb(71, 72, 79);
padding-top: 15px;
/* color: #808080; */
/* font-size: 20px; */
font-family: "Hahmlet";
}

footer a {
display: inline-block;
margin: 0 20px 10px 20px;
color: #808080;
font-size: 11px;
}

/* footer a:visited {
color: #808080;
} */

footer p {
margin-top: 0; margin-bottom: 0;   
}

footer p span {
display: inline-block;
margin-left: 20px;
}
html, body {
margin: 0;
padding: 0;
/* 구조수정추가구문 */
height: 100% 
}


.textcontainer{
    z-index: 500;
    /* border: 5px solid black; */
/* height: 300px; */
    position: absolute;
    display: flex;
    text-align: center;
    top: 42%;
    left: 35%;

}
.carousel-item :hover{
    border: 5px solid white;
    cursor: pointer;
    opacity: 0.5;
}
h3{
    z-index: 1000;
    /* position: absolute;
text-align: center; */
}
.carousel-control-prev-icon { 
    background-color: lightgray;
    border-radius: 30px;
}

.carousel-control-next-icon {
background-color: lightgray;
    border-radius: 30px;
}
/* 구조수정구문   section 안에있는 div 는  바디콘텐츠와 유사*/
.container{
    margin-top: 100px;
    width: 60%;
    /* padding-bottom: 600px;  */
/* footer와  section>div.container 사이의 간격 */
}
.carousel-inner img{ 
    height: 600px;
}

/*이미지 사이즈 통일 구문 추가*/
.d-block w-100{
    width: 1380px;
    height :793px
}


        