@charset "UTF-8";

 section{
            /* border: 2px solid black;
            border-radius: 10px; */
            font-family: "Hahmlet";
            

            margin-left: 50px;
            margin-right: 50px;
            /* padding-left: 100px; */
            /* padding-right: 100px; */
            /* 
                만약 섹션 안에 div를 만든다면 여기 padding-left,padding-right에서
                좌우 간격을 조정하세요
                왼쪽 오른쪽도 웬만하면 다같이 맞추면 좋을 듯 하니 각자 만들어보고 의견주세요
             */
            margin-top: 100px;
            height: 1000px; 
            /*
                ->내가 사용하는 중간 섹션부분의 크기를 조절하려면 이 height를 조정하세요★★
                높낮이 조절해도 footer침범하지 않도록 설정해놨으니 마음껏 늘려도 됩니다.
            */
        }

        /* ##### 여기부터 사이드메뉴 스타일 #####  */
        .sector{
            display: flex;
        }

        .sidemenu{
            width: 20%;
            height: 100px;
            font-size: 20px;
            font-weight: bold;
            position: absolute;
        }
        
        .menuDiv{
            width: 25%;
        }

        .sidemenu>*:hover{
            transform: scale(1.1);
            transition-property: transform;
            transition-duration: 1s;
        }
        .sidemenu>*:not(div:nth-child(1)){
            background-color: lavender;
            border-radius: 50px;
            box-shadow: 5px 2px 8px lavender;
        }
        .sidemenu p{
            text-align: center;
            padding-top: 6%;
             color: purple;
        }
        .sidemenu>div:first-child{
            color: purple;
        }

        .sidemenu>div{
            height: 70px;
            
        }
        a{
            text-decoration: none;
        }
        /* ##### 여기까지 사이드메뉴 스타일 #####  */

        /* 섹션부분전체 */
        /* #totalSection{
            display: flex;
            flex-direction: row;
        } */

        /* 오른쪽 나의출국일지 영역 전체 */
        #leavingDiary{
            border: 2px solid black;
            border-radius: 10px;
            width: 70%;
            height: 900px;
            text-align: center;
        }
        /* "나의출국일지"폰트스타일 */
        #leavingDiary>h1{
            font-size: 30px;
        }
        /* 말풍선영역 */
        .leavingInfo{
            padding-top: 40px;
            display: flex;
            flex-direction: row;
        }
        /* 말풍선스타일 */
        .speech-bubble {
            content:'';
            text-align: center;
            background: #7e8cd2;
            border-radius: 10px;
            padding-left: 50px;
            position:relative;
            margin: auto;
            width:400px;
            height:80px;
            padding-right: 30px;
        }
        /* 말풍선꼬리스타일 */
        .speech-bubble:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 0;
            border: 31px solid transparent;
            border-top-color: #7e8cd2;
            border-bottom: 0;
            border-right: 0;
            margin-left: -15.5px;
            margin-bottom: -31px;
        }
        #speechText{
            font-size: 20px;
            font-weight: bold;
            color: white;
        }
        /* 출국알람영역 */
        .leavingService{
            padding-top: 60px;
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            align-self: center;
            align-content: center;
            align-tracks: center;
            text-align: center;
            margin-left: 350px;
        }
        
        /* 디데이영역 */
        .dday{
            align-items: center;
            display: flex;
            flex-direction: row;
        }
        /* 비행기이미지 */
        #plane{
            margin-left: 20px;
        }
        /* 출국10일전 알람서비스 영역 */
        .leavingAlarm{
            margin-top: 30px;
            padding-left: 80px;
            font-size: 18px;
            font-style: italic;
            color: gray;
        }
        /* 프로그레스바 영역 */
        #progressBar{
            padding-top: 10px;
        }
        /* 프로그레스바 넓이 */
        #progress{
            width: 70%;
        }
        /* 프로그레스바안에 있는 텍스트 */
        #progressText{
            width: 85%;
            text-align: right;
        }
        #updateBtn{
            margin-left: 10px;
            width: 50px;
            height: 40px;
        }
        /* 체크리스트 영역 */
        #leavingCheckList{
            padding-top: 30px;
        }
        /* 체크리스트 제목영역 */
        #leavingCLTitle{
            align-items: center;
            align-self: center;
            align-content: center;
            align-tracks: center;
            text-align: center;
            display: inline-flex;
        }
        /* "출국전 체크리스트" */
        #leavingCLTitle>#title1{
            font-size: 20px;
            font-weight: bolder;
        }
        /* "진행도" */
        #leavingCLTitle>#title2{
            font-size: 15px;
            margin-left: 100px;
        }
        /* 몇프로 */
        #leavingCLTitle>#title3{
            font-size: 17px;
            margin-left: 20px;
            margin-right: 10px;
            font-weight: bolder;
            color: red;
        }
        /* 체크리스트 표 영역 */
        #leavingCLContent{
            padding-top: 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            align-self: center;
            align-content: center;
            align-tracks: center;
            text-align: center;
        }
        /* 체크리스트 표 */
        #leavingCLTable{
            /* margin: 0; */
            align-items: center;
            align-self: center;
            align-content: center;
            align-tracks: center;
            text-align: center;
            width: 80%;
            height: 300px;
         
        }
        /* 체크리스트 저장버튼 */
        #leavingCLSave{
            width: 100px;
            height: 40px;
            
        }

        .customBtn {
            color: #fff;
            border-radius: 5px;
            padding: 10px 25px;
            font-family: 'Lato', sans-serif;
            font-weight: 500;
            background: transparent;
            cursor: pointer;
            transition: all 0.3s ease;
            position: relative;
            display: inline-block;
            box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
            7px 7px 20px 0px rgba(0,0,0,.1),
            4px 4px 5px 0px rgba(0,0,0,.1);
            outline: none;
            }
        .btnStyle {
            line-height: 42px;
            padding: 0;
            border: none;
            background: #7e8cd2;
            background: linear-gradient(0deg, #7e8cd2 0%, #7e8cd2 100%);
        }
        .btnStyle:hover {
            color: #7e8cd2;
            background: transparent;
            box-shadow:none;
        }
        .btnStyle:before,.btnStyle:after{
            content:'';
            position:absolute;
            top:0;
            right:0;
            height:2px;
            width:0;
            background: #7e8cd2;
            box-shadow:
            -1px -1px 5px 0px #fff,
            7px 7px 20px 0px #0003,
            4px 4px 5px 0px #0002;
            transition:400ms ease all;
        }
        .btnStyle:after{
            right:inherit;
            top:inherit;
            left:0;
            bottom:0;
        }
        .btnStyle:hover:before,.btnStyle:hover:after{
            width:100%;
            transition:800ms ease all;
        }