@charset "UTF-8";

.sector{
    display: flex;
}

.sidemenu{
    width: 20%;
    height: 100px;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
}

.menuDiv{
    width: 30%;
}

.sidemenu>*:hover{
    transform: scale(1.1);
    transition-property: transform;
    transition-duration: 1s;
}
.sidemenu>*:not(div:nth-child(1)){
    background-color: lavender;
    border-radius: 50px;
    box-shadow: 5px 2px 8px lavender;
}
.sidemenu p{
    text-align: center;
    padding-top: 6%;
}
.sidemenu>div:first-child{
    color: purple;
}

.sidemenu>div{
    height: 70px;
    
}
.sidemenu a{
    text-decoration: none;
    color: black;
}

                     /* 사이드메뉴바 스타일 여기부터*/
        /* 왼쪽 사이드메뉴영역 */
        #sideMenu{
            border: 1px solid black;
            /* border-radius: 10px; */
            position: absolute; 
            z-index: 10;
            width: 18%;
        }
        .header {
        /* position:relative; */
        left: 0;
        top: 100px;
        bottom: 0;
        /* width: 17.5em; */
        width: 20%;
        /* height: 900px; */
        /* background: #d9d9db; */
        }

        *,
        :before,
        :after {
        box-sizing: border-box;
        }

        .unstyled {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        .unstyled a {
            text-decoration: none;
        }

        .list-inline {
            overflow: hidden;
        }

        .sidelogo {
            background-color: #b5aae5;
            text-transform: lowercase;
            font: 300 2em "Source Sans Pro", Helvetica, Arial, sans-serif;
            text-align: center;
            padding: 0;
            margin: 0;
            border: 2px solid black;
            /* border-radius: 10px; */
        }
        .sidelogo a {
        display: block;
        padding: 1em 0;
        color: #dfdbd9;
        text-decoration: none;
        transition: 0.15s linear color;
        }
        .sidelogo a:hover {
        color: #fffaf8;
        }
        .sidelogo a:hover span {
        color: #df4500;
        }
        .sidelogo span {
           
        color: #131110;
        font-weight: 700;
        transition: 0.15s linear color;
        }
        .main-nav li {
        /* border-bottom: solid 1px #3c3735; */
        font-size: 20px;
        font-weight: bold;
        }
        .main-nav a {
        padding: 1.1em 0;
        color: #f1f1f1;
        font: 400 1.125em "Source Sans Pro", Helvetica, Arial, sans-serif;
        text-align: center;
        text-transform: lowercase;
        }
        .main-nav a:hover {
        color: #f9f8f8;
        }
        .list-hover-slide li {
            border: 1px solid rgb(0, 0, 0);
            /* border-radius: 10px; */
            background-color: #d5d0e8;
            position: relative;
            overflow: hidden;
        }
        .list-hover-slide a {
        display: block;
        position: relative;
        z-index: 1;
        transition: 0.35s ease color;
        color: rgb(0, 0, 0);
        }
        .list-hover-slide a:before {
        content: "";
        display: block;
        z-index: -1;
        position: absolute;
        left: -100%;
        top: 0;
        width: 100%;
        height: 100%;
        border-right: solid 5px #4300df;
        background: #b7aee0;
        transition: 0.35s ease left;
        
        }
        .list-hover-slide a.is-current:before, .list-hover-slide a:hover:before {
        left: 0;
        }
        /* 사이드메뉴바 스타일 여기까지*/


		
        customBtn {
            color: #fff;
            border-radius: 5px;
            padding: 10px 25px;
            font-family: 'Lato', sans-serif;
            font-weight: 500;
            background: transparent;
            cursor: pointer;
            transition: all 0.3s ease;
            position: relative;
            display: inline-block;
            box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
            7px 7px 20px 0px rgba(0,0,0,.1),
            4px 4px 5px 0px rgba(0,0,0,.1);
            outline: none;
            }
        .btnStyle {
            line-height: 42px;
            padding: 0;
            border: none;
            background: #c67ed292;
            background: linear-gradient(0deg, #c67ed292 0%, #c67ed292 100%);
        }
        .btnStyle:hover {
            color:#c67ed292;
            background: transparent;
            box-shadow:none;
        }
        .btnStyle:before,.btnStyle:after{
            content:'';
            position:absolute;
            top:0;
            right:0;
            height:2px;
            width:0;
            background:#c67ed292;
            box-shadow:
            -1px -1px 5px 0px #fff,
            7px 7px 20px 0px #0003,
            4px 4px 5px 0px #0002;
            transition:400ms ease all;
        }
        .btnStyle:after{
            right:inherit;
            top:inherit;
            left:0;
            bottom:0;
        }
        .btnStyle:hover:before,.btnStyle:hover:after{
            width:100%;
            transition:800ms ease all;
        }

        /* 지희버튼 css */
         .customBtn {
            color: #fff;
            border-radius: 5px;
            padding: 10px 25px;
            font-family: 'Lato', sans-serif;
            font-weight: 500;
            background: transparent;
            cursor: pointer;
            transition: all 0.3s ease;
            position: relative;
            display: inline-block;
            box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
            7px 7px 20px 0px rgba(0,0,0,.1),
            4px 4px 5px 0px rgba(0,0,0,.1);
            outline: none;
            }
        .btnStyle {
            line-height: 42px;
            padding: 0;
            border: none;
            background: rgba(238, 130, 238, 0.556);
            background: linear-gradient(0deg,  rgba(238, 130, 238, 0.556) 0%, rgba(238, 130, 238, 0.556) 100%);
        }
        .btnStyle:hover {
            color: rgba(238, 130, 238, 0.556);
            background: transparent;
            box-shadow:none;
        }
        .btnStyle:before,.btnStyle:after{
            content:'';
            position:absolute;
            top:0;
            right:0;
            height:2px;
            width:0;
            background: rgba(238, 130, 238, 0.556);
            box-shadow:
            -1px -1px 5px 0px #fff,
            7px 7px 20px 0px #0003,
            4px 4px 5px 0px #0002;
            transition:400ms ease all;
        }
        .btnStyle:after{
            right:inherit;
            top:inherit;
            left:0;
            bottom:0;
        }
        .btnStyle:hover:before,.btnStyle:hover:after{
            width:100%;
            transition:800ms ease all;
        }
       
        /* 댓글입력 폼 */
        .form {
        display: flex;
        flex-direction: column;
        }
        .form textarea {
        resize: none;
        border: 1px solid #d44be054;
        padding: 15px 20px;
        outline: none;
        }
        .form .submit {
        border: 1px solid #d44be054;
        background-color: #d44be054;
        color: #fff;
        padding: 5px;
        cursor: pointer;
        }
   
                /* 레이아웃 - 댓글 */
        .comments {
        border: 1px solid #dbdbdb;
        }
        .comments .comment {
        border-bottom: 1px solid #dbdbdb;
        padding: 20px;
        }
        .comments .comment:last-child {
        border-bottom: none;
        }

        /* 상단 메뉴 */
        .top {
        display: flex;
        flex-direction: row;
        align-items: center;
        }
        .top .username {
        font-weight: bold;
        }
        .top .utility {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        }

        /* 하단 메뉴 */
        .bottom {
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
        text-transform: uppercase;
        letter-spacing: -0.5px;
        font-weight: bold;
        font-size: 14px;
        }
        .bottom .divider {
        width: 1px;
        height: 20px;
        background-color: #dbdbdb;
        margin: 0 20px;
        }
        .bottom .menu {
        margin: 0;
        padding: 0;
        color: #bebebe;
        }
        .bottom .menu.show-reply {
        color: #333;
        }
   
            /* 레이아웃 - 답글 */
    .replies {
    position: relative;
    background-color: #f2f2f2;
    padding-left: 40px;
    padding-right: 20px;
    padding-bottom: 20px;
    }
    .replies:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: #ddd;
    }
    .replies .reply {
    padding: 20px 0;
    border-bottom: 1px solid #dbdbdb;
    }
    .replies .reply:last-of-type {
    border-bottom: none;
    }
  
        section{
            border:0px solid tomato;
            font-family: "Hahmlet";
            margin-left: 50px;
            margin-right: 50px;
            /* padding-left: 100px; */
            /* padding-right: 100px; */
            /* 
                만약 섹션 안에 div를 만든다면 여기 padding-left,padding-right에서
                좌우 간격을 조정하세요
                왼쪽 오른쪽도 웬만하면 다같이 맞추면 좋을 듯 하니 각자 만들어보고 의견주세요
             */
            margin-top: 100px;
            height: auto; 
            /*
                ->내가 사용하는 중간 섹션부분의 크기를 조절하려면 이 height를 조정하세요★★
                높낮이 조절해도 footer침범하지 않도록 설정해놨으니 마음껏 늘려도 됩니다.
            */
            
        }
        section>div{
            border: 0px solid blue;
            /* 섹션 안의 div테두리 */
            
        }
        
        .navbar{
    border: 0px solid magenta;
    width:800px;
    margin-left: 40px;
    margin-bottom: 10px;
    height: 100px;
    justify-content: end;
}
.navbar-collapse{
    float: right;
    display: flex;
    margin-right: 10px;
    margin-top: 30px;
}
.navbar-collapse select{
    margin-right: 10px;
/*     margin-top: 5px; */
    height: 30px;
}
.navbar-collapse form>input{
/*     margin-right: 10px; */
/*     margin-top: 10px; */
    height: 30px;
}
.navbar-collapse>button{
    margin-top: 10px;
    height: 30px;
}
.container-fluid{
    width: 400px;
    /* border: 1px solid magenta; */
    height: 50px;
    /* margin-top: 10px; */
    display: block;
    /* flex-direction: row; */
    float: right;
}
.customBtn {
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: "Hahmlet";
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    min-width: 80px;
    height: 30px;
}
.btnStyle {
    line-height: 30px;
    padding: 0;
    border: none;
    background: #7e8cd2;
    background: linear-gradient(0deg, #7e8cd2 0%, #7e8cd2 100%);
}
.btnStyle:hover {
    color: #7e8cd2;
    background: transparent;
    box-shadow:none;
}
.btnStyle:before,.btnStyle:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #7e8cd2;
    box-shadow:
    -1px -1px 5px 0px #fff,
    7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
    transition:400ms ease all;
}
.btnStyle:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
.btnStyle:hover:before,.btnStyle:hover:after{
    width:100%;
    transition:800ms ease all;
}

.navbar select {
    height: 30px;
}
 















