@charset "UTF-8";
	
	section{
	      /*border: 1px solid tomato;*/
	      
	      margin-left: 50px;
	      margin-right: 50px;
	      /* padding-left: 100px;
	    padding-right: 100px; */
	    /* 
	        만약 섹션 안에 div를 만든다면 여기 padding-left,padding-right에서
	        좌우 간격을 조정하세요
	        왼쪽 오른쪽도 웬만하면 다같이 맞추면 좋을 듯 하니 각자 만들어보고 의견주세요
	     */
	    margin-top: 100px;
	    height: 900px; 
	    /*
	        ->내가 사용하는 중간 섹션부분의 크기를 조절하려면 이 height를 조정하세요★★
	        높낮이 조절해도 footer침범하지 않도록 설정해놨으니 마음껏 늘려도 됩니다.
	    */
	    
	}
	section>div{
	    /*border: 1px solid blue;*/
	    /* 섹션 안의 div테두리 */
	    
	}
	
	/**/
	section{
	    display: flex;
	}

	.sidemenu{
	    padding: 10px;
	    /* margin-top: 1000px; */
	    /* margin: 0 auto; */
	    /* border: 1px solid; */
	    font-size: 18px;
	    font-weight: bold;
	    position: fixed;
	}
	
	.menuDiv{
	    width: 15%;
	}
	
	.sidemenu>*:hover{
	    transform: scale(1.1);
	    transition-property: transform;
	    transition-duration: 1s;
	}
	.sidemenu>*{
	    width: 200px;
	    height: 50px;
	    background-color: lavender;
	    border-radius: 50px;
	    box-shadow: 5px 2px 8px lavender;
	}
	.sidemenu p{
	    text-align: center;
	    padding: 13px;
	}
